.loginForm {
    background: cadetblue;
    margin: 0 auto;
    width: 26%;
    padding: 17px;
    margin-top: 11%;
    box-shadow: 4px 0px 23px 0px lightgrey;

}
.login{
    background-image: url('/login-background.jpeg');
    top: 0px;
    padding-top: 1%;
    padding-bottom: -3%;
    background-color: #cccccc;
    height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.submitButton > a{
        color: white !important;
}